<nz_redcross_1b_family_needs id="nz-redcross-1b-family-needs" version="1"><intro_note></intro_note><village_name></village_name><household_head></household_head><tarp_rope></tarp_rope><water_container></water_container><buckets></buckets><bed_linen></bed_linen><sleeping_mat></sleeping_mat><lamp></lamp><cooking_set></cooking_set><water></water><food></food><medical_supplies></medical_supplies><other_needs></other_needs><household_location></household_location><start>$start$</start><end>$end$</end><deviceid>$deviceid$</deviceid><meta><instanceID>$instanceid$</instanceID></meta></nz_redcross_1b_family_needs>